.flex-container-horizontal-simple {
  display: flex; /* this container from now is flexbox container*/
  /*by default flex-direction is row*/
  /* flex-direction: row-reverse; */
  background-color: chartreuse;
  border: 2px solid grey;
  /* by default it is taking height of flex-items*/
  /* justify-content: center; */
  justify-content: flex-end; /* for horizontal align*/
  /* justify-content: flex-end; */
  /* justify-content: space-around;  */
  /* justifiy-content:space-between; */
  /* justify-content: space-evenly; */
}

.flex-item-horizontal-simple {
  background-color: red;
  border: 2px solid black;
  margin-left: 50px;
  width: 40px;
  height: 50px;
}

.flex-container-vertical-simple {
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse */
  background-color: cyan;
  height: 40vh;
  /*width is full screen by default*/
}

.flex-item-vertical-simple {
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  width: 40px;
  height: 50px;
}

.flex-container-horizontal-complex {
  display: flex;
  background-color: rgb(245, 231, 32);
  border: 2px solid black;
  /* height: 30vh; */
  justify-content: space-between;
  align-items: center; /*vertical align--height should be more than default then only it will work*/
  /* align-items: flex-end; */
  /* align-items: flex-start; */
  /* align-items: baseline; */ /*--all the font written inside item divs come in same line*/
  flex-wrap: wrap; /*the item divs come one below other in mobile view remove height of container box so that it places itself vertically one below other*/
  /* flex-wrap:nowrap; */
  /* flex-wrap:wrap-reverse; */
  /* flex-flow: column wrap; */
}

.flex-item-horizontal-complex {
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  width: 40px;
  height: 50px;
}

.flex-container-on-items {
  display: flex;
  flex-direction: flex-start;
}

.flex-item-on-items {
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  width: 40px;
  height: 50px;
}
.item1 {
  background-color: violet;
  order: 3; /*one with less order comes first, one with more order comes last*/
  flex-grow: 3; /* by default flex-grow is 1 for all items inside flex box*/
  flex-shrink: 2; /*when you check responsive for mobiles, it item1 gets shrinked more*/
  align-self: center; /*only this gets aligned center vertically*/
}
.item2 {
  background-color: teal;
  flex-grow: 2;
}
